<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.4" targetFramework="wp71" />
  <package id="WindowsPhoneEssentials" version="0.7.2.88" targetFramework="sl40-wp" />
  <package id="WindowsPhoneEssentials.Testing" version="0.7.2.88" targetFramework="sl40-wp" />
</packages>